body {
    margin: 60px auto;
    width: 80%;
}

nav {
    border-bottom: 1px solid #cc6600;
    text-align: center;
}

nav ul {
    font-family: 'Varela Round', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 40px;
}

ul#menu li {
  display:inline;
  margin-right: 40px;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Varela Round', sans-serif;
	color:#cc6600;
}
p {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 1em;
    line-height: 0.9em;
    color: grey;
}
footer {
    border-top: 1px solid #cc6600;
    font-size: .8em;
    text-align: center;
    
}

.icon{
    height: 50px;
}

.gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    grid-gap: 5px;
}

.col{
    overflow: hidden;
    text-align: center;
}

.gallery img{
    background-color: blue;
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s;
}

.imgrid img:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}