.spotifyNP {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.button {
    background-color: #1db954;
    border: none;
    color: #191414;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 50px;
    width: 230px;
    font-size: 20px;
    margin: 4px 2px;
    cursor:pointer;
    font-family: 'Varela Round', sans-serif;
}

.button:hover {
    background-color: #44d175;
}

.spotifyButton {border-radius: 25px;}