<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href= "{{ "/css/main.css" | absolute_url }}">
			{% include social-metatags.html %}
		</head>
		<body>
			<nav>
				<img class="icon" src="/assets/res/Watermark.png" draggable="false">
	    		<ul id="menu">
	        		<li><a href="{{ "" | absolute_url }}">Home</a></li>
		        	<li><a href="/SpotifyNowPlaying/">SpotifyNowPlaying</a></li>
					<li><a href="{{ "/topics/portfolio" | absolute_url }}">Portfolio</a></li>
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<p>
				This is the bottom of the page.
				</p>
			</footer>
		</body>
	</html>